

@media screen and (max-width:1000px) {
  .image-right{
    display: none;
  }
  .nav-mobile{
    display: flex;
    /* position: fixed; */
  }
  .nav-desktop{
    display: none;
  }
  .logo1{
    width: 80%;
    height: 55px;
    padding: 0 30px;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 80% 100%, 0 100%);
  }


  .logo1 i{
    font-size: 25px;

  }
  .logo1 span{
    font-size: 25px;
    font-weight: 600;
  }
  .section{
    display: none;
  }
  header{
    height: 700px;
  }


   /* hero section begins here */
  .main{
    /* height:650px; */
    padding: 0 6%;
  }
  .main-content{
    /* text-align: left; */
    padding: 20% 3%;
    padding-left: 0%;
    width: 100%;
  }
  .main-content h2{
    /* padding-right: 20px; */
    color: white;
    font-size: 75px;
    font-weight: 600;
  }
  .main-content p{
    width: 110%;
    color: white;
    padding-bottom :10px;
    margin-right: 6%;
    font-size: 20px;
      
      
  }
  .main-content span{
   color: goldenrod;
  }
  .main-content .btn{
    margin-top: 10px;
      
    }
  /* hero section ends here */

  .populars{
    display: grid;
    grid-gap: 1rem;
    flex-direction: column;
    padding: 2% 5%;
    grid-template-columns: repeat(1,1fr);
  }
  .popular{
    height: 2200px;
  }
  .play-btn:hover{
    transform:none;
}


/* second-section begin here */


.zone{
  height: 150px;
  padding: 30px 0;

  }
  .zone-content i{
    font-size: 30px;
    color: goldenrod;
    
  }
  .zone-content{
    /* padding-right: 10px; */
    display: flex;
    /* margin-right: 20px; */
    height: 50px;
    width: 60%;
  }
  .zone-content span{
    font-size: 25px;
    color: goldenrod;
  }
  /* second section ends here */


/* about section begins here */

  .about{
    /* height: 500px; */
    padding: 0% 8%;
    height: 300px;
  }
  .about-section{
    /* padding: 0 20px; */
    text-align: center;
    margin-right: 10px;
    width: 200%;
    /* height: 500px; */
  }
  .about-text p{
    line-height: 1.7;
    
  }
  .about-img img{
    display: none;
  }
  .about-content p{
    width: 200%;
    font-size: 18px;
    /* padding-right: 20px; */
    text-align: justify;
   
    
  }
  /* about section ends here */


/* fourth section begins here */
  .sections{
    display: flex;
    height: 1700px;
    flex-direction: column;
    /* position: relative; */
  }
  .categorie{
    padding: 25% 0;
    margin-right: 20px;
    /* position: absolute; */

  }
  .games-card{
    /* border: 3px solid blue; */
    /* height: 150px; */
   width: 97%;
   grid-gap:0.1rem;
    /* padding-right: 18px; */
   grid-template-columns: repeat(3, 1fr);

  } 
  .games-card img{
    width: 93%;
    /* padding-right: 20px; */
    padding-bottom: 10px;
    
    
  }
  .card{
    padding-left: 5%;
  } 
  
  .card h5{
    text-align: center;
  }

  .gamings{
    /* border: 3px solid green; */
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    width:92%;
    grid-gap:0.2rem;
    flex-direction:column;

  }
  .gamings img{
    height: 150px;
    /* padding-right:10px; */
    border-radius: 5px;
    width: 95%;
    /* margin-right: 6%; */
    /* padding-bottom: 10px; */
    /* padding-right:20%; */
    transition:0.5s;

  }
  
  
  .games-image{
    /* padding-top: 45%; */
    /* border: 2px solid red; */
    /* flex-direction:column; */
    width: 100%;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(3, 1fr);

  }
  
  .games-image img{
    /* margin-right: 2%; */
    height: 150px;
    /* height: 150px; */
    /* padding-bottom: 10px; */
    /* padding-right: 10px; */
    width: 95%;
    border-radius: 5px;
    /* width: 90%; */
    transition:0.5s;
  }
  /* fourth section ends here */



/* fifth section begins here */

  .tournament{
    flex-direction: column;
    height: 1800px;
  }
  .tournament-section h5{
    padding-top: 40px;
  }
  .tournament1 img{
    height: 300px;
    padding-top: 30px;
    padding-right: 25px;
  }
  .tournament h6{
    padding: 50px 0;
  }
  .tournament1 img:hover{
    transform: translateY(-30px);
    transition: 0.5s;
  }

   /* fifth section ends here */


 /* contact section begins here */

  .contact-section{
    flex-direction: column;
    height: 750px;
  }
  .contact-content img{
    height: 200px;
    
    width: 100%;
    border-radius: 10px;
  }


   /* contact section ends here */



    /* footer section begins here */


  .footer-text{
    flex-direction: column;
    padding: 0 7%;
    /* margin-right: 10%; */
    height: 700px;
  }
  .footer-content{
    display: flex;
    /* margin-right: 20px; */
    height: 60px;
    width: 40%;
    /* width: 20%; */
    margin-top: 30px;
    margin-left: 25%;
    justify-content: center;
    
  }
  .footer-content i{
    color: black;
    font-size: 35px;
}
.footer-content span{
    color: black;
    font-size: 28px;
    font-weight: 600;
    /* width: 30%; */
  }
  .footer-text{
    padding: 0 20px;
  }
  .links{
    /* color: goldenrod; */
    font-size: 20px;
    margin:30px 10px;
  }
  .action{
    margin: 10px 10px;
  }
  .getintouch {
    /* border: 3px solid red; */
    margin: 10px 0;
    margin-right: 15px;
  }

  }

  /* footer section ends here */

  @media screen  and ( max-width:811px){
    .container{
      height: 650px;
      width: 100%;
    }
    .about{
      height: 500px;
    }
    .categories{
      padding: 20% 0;
      position: absolute;

    }
    .footer-content{
      width: 60%;
      height: 90px;
    } 
    .footer-content i{
      font-size: 30px;
    }
    .footer-content span{
      font-size: 20px;
    }
    /* .footer-content{
      width: 30%;
      height: 90px;
    } 
    .footer-content i{
      font-size: 30px;
    }
    .footer-content span{
      font-size: 25px;
    } */
  }
  

  


  @media screen and (max-width:390px){
  .games-image{
    padding-top: 50%;
  }
  .zone-content{
    /* padding: 20px 0; */
    /* padding-top: 20px; */
    padding-left: 10%;
    width:80%;
  } 
  .zone-content i{
    font-size: 40px;
  }
  .zone-content span{
    font-size: 30px;
  } 
  
  .logo1{
    background: goldenrod;
    padding: 0px 10px;
    width: 75%;
    display: flex;
    height: 60px;
    /* clip-path: polygon(26% 0, 100% 0%, 100% 100%, 25% 100%, 3% 100%);  */
    clip-path: polygon(0 0, 100% 0%, 100% 0, 80% 100%, 0 100%);
  }
  .footer-content{
    width: 80%;
    height: 90px;
  } 
  .footer-content i{
    font-size: 30px;
  }
  .footer-content span{
    font-size: 15px;
  }
    
  .logo1 i{
    color: black;
    font-size: 30px;

  }
  .logo1 span{
    color: black;
    font-size: 25px;
  }
  .footer-text{
    flex-direction: column;
    padding: 0 7%;
    /* margin-right: 10%; */
    height: 700px;
  }
  .footer-content{
    display: flex;
    /* margin-right: 20px; */
    height: 60px;
    width: 30%;
    /* width: 20%; */
    margin-top: 30px;
    margin-left: 25%;
    justify-content: center;
    
  }
  .footer-content i{
    color: black;
    font-size: 30px;
  }
  .footer-content span{
    color: black;
    font-size: 28px;
    font-weight: 600;
    /* width: 30%; */
  }
  

  
}


  
@media screen and (max-width:690px){
  .sections{
    height: 1500px;
  }
  .games-image{
    margin-top: 10%;
   
  }
  .footer-text{
    flex-direction: column;
    /* padding: 0 7%; */
    /* margin-right: 10%; */
    height: 700px;
  }
  .footer-content{
    display: flex;
    /* margin-right: 20px; */
    height: 97px;
    width: 10%;
    /* padding: 10px 0; */
    /* width: 20%; */
    margin-top: 30px;
    margin-left: 25%;
    /* justify-content: center; */
    
  }
  .footer-content i{
    color: black;
    font-size: 40px;
  }
  .footer-content span{
    color: black;
    font-size: 35px;
    /* font-weight: 600; */
    /* width: 30%; */
  }
}
@media screen and (max-width:560px){
  .sections{
    /* height: 1500px; */
  }
  .games-image{
    margin-top: 20%;
  }
  .footer-content{
    height: 70px;
  }
 
}

@media screen and (max-width:592px){
  .sections{
    /* height: 1500px; */
  }
  .games-image{
    margin-top: 20%;
  }
    
}
@media screen and (max-width:482px){
  .sections{
    /* height: 1500px; */
  }
  .games-image{
    margin-top: 40%;
  }

  
}
@media screen and (max-width:1004px){
  .footer-content{
    padding: 0 30px;
    height: 40px;
  }
  
  
}
@media screen and (max-width:1029px){
  .zone-content{
    /* padding: 20px 0; */
    padding-top: 20px;
    /* padding-left: 10%; */
    width: 30%;
  }
  .about{
    height: 550px; 
   }
  .footer-content{
    width: 70%;
    height: 90px;
  } 
  .footer-content i{
    font-size: 35px;
  }
  .footer-content span{
    font-size: 25px;
  }
  .footer-text{
    height: 700px;
  }
  .zone{
    height: 150px;
    padding: 30px 0;
  
  }
  .zone-content i{
    font-size: 30px;
    color: goldenrod;
    
  }
  .zone-content{
    /* padding-right: 10px; */
    display: flex;
    /* margin-right: 20px; */
    height: 50px;
    width: 55%;
  }
  .zone-content span{
    font-size: 30px;
    color: goldenrod;
    
  }
  
}
@media screen and (max-width:798px){
  .zone-content{
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-left: 10%;
    width:50%;
  } 
  .zone-content i{
    font-size: 35px;
  }
  .zone-content span{
    font-size: 40px;
  } 
}
@media screen and (max-width:618px){
  .zone-content{
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-left: 10%;
    width:50%;
  } 
  .zone-content i{
    font-size: 35px;
  }
  .zone-content span{
    font-size: 30px;
  } 
}
@media screen and (max-width:505px){
  .zone-content{
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-left: 5%;
    width:50%;
  } 
  .zone-content i{
    font-size: 30px;
  }
  .zone-content span{
    font-size: 25px;
  } 
}


