

@media screen and (max-width:600px) {
   .image-right{
    display: none;
   }
   .container{
    height: 600px;
   }
   .main{
    /* height:650px; */
    padding: 0 9%;
   }
   .main-content{
    /* text-align: left; */
    padding: 20% 5%;
    padding-left: 0%;
    width: 100%;
  }
.main-content h2{
  /* padding-right: 20px; */
    color: white;
    font-size: 70px;
    font-weight: 600;
  }
.main-content p{
  width: 110%;
    color: white;
    padding-bottom :10px;
    margin-right: 6%;
    font-size: 20px;
    
    
  }
.main-content span{
    color: goldenrod;
  }
.main-content .btn{
    padding: 15px 28px;
    margin-top: 10px;
    background-color: goldenrod;
    /* border: none; */
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    /* text-align: center; */
    font-size: 15px;
    
    clip-path: polygon(0% 0%, 80% 0, 100% 100%, 100% 100%, 0% 100%);
    
  }
  .about{
    height: 400px;
    text-align: center;
    text-align: justify;
  }
  .about-section{
    padding: 4% 9%;
  }
  .about p{
    text-align-last: justify;
  }

  .tournament{
    flex-direction: column;
  }
  .categories{
    padding: 25% 0;
    position: absolute;

  }
  .games-cards{

    width: 40%;

  } 
  .cards{
    padding-left: 5%;
  } 
  .gaming img{
    height: 80px;
    /* padding-left:15%; */
    border-radius: 5px;
    width: 25%;
    margin-left:7px;
    transition:0.5s

  }
.games-cards{
  padding-right: 18px;
}
  .games-cards img{
    height: 80px;
    width: 50%;
  }
.games-images img{
    height: 80px;
    margin-top: 20px;
    border-radius: 5px;
    width: 15%;
    margin-left: 10px;
    transition:0.5s;
  }
  .tournament{
    height: 1800px;
  }
  .tournament-section h5{
    padding-top: 40px;
  }
  .tournament1 img{
    height: 300px;
    padding-top: 30px;
    padding-right: 25px;
  }
  .tournament h6{
    padding: 50px 0;
  }
}

