@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato',sans-serif;
    

    
}

body{

    height: 3500px;
}
header{
    /* border: 3px solid red; */
    background: var(--gradient),url("./img/wp6591848-gaming-purple-aesthetic-wallpapers.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width: 100%;
    height: 550px;
    /* display: flex; */
}
.nav-desktop{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.698);
    /* margin-left: 10%; */
    /* justify-content: space-between; */
}
.nav-desktop span{
    color: white;
    font-size: 25px;
}
.logo{
    background: rgb(87, 1, 87);
    padding: 3px 45px;
    display: flex;
    height: 60px;
    /* clip-path: polygon(26% 0, 100% 0%, 100% 100%, 25% 100%, 3% 100%);  */
    clip-path: polygon(0 0, 100% 0%, 100% 0, 80% 100%, 0 100%);
}
.logo i{
    color: white;
    font-size: 35px;

}
.desktop-container{
    /* width: 50%; */
    margin-right: 20px;
}
.desktop-container ul{
    /* border: 2px solid tomato; */
    display: flex;
    padding: 20px 40px;
    /* margin-right: 20%; */
    /* clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);  */
    /* background-color: #000; */
    list-style: none;

}
.desktop-container ul li{
    padding:0  30px;
    
    

}
.desktop-container ul li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;

}
.desktop-container ul li a:hover{
    color: goldenrod;
    transition: 0.5s;
}
.play-icon{
    clip-path: polygon(26% 0, 100% 0%, 100% 100%, 25% 100%, 3% 100%); 
    /* clip-path: polygon(0 0, 100% 0%, 99% 0, 80% 100%, 0 100%);  */
    background-color: goldenrod;
    padding: 15px 50px;
    height: 60px;
    width: 20%;
    /* padding-right: 50px; */
    
    

}
.play-icon span{
    font-size: 20px;
    color: #000;
    font-weight: 600;

}
.play-icon span:hover{
    color: white;
    transition: 0.5s;
}

.main{
    /* height: 550px; */
    display: flex;
    
}
.main-content{
    padding: 15% 12%;
    width: 100%;
}
.main-content h2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
.main-content p{
    color: white;
    padding-bottom :10px;
    font-size: 20px;
}
.main-content span{
    color: goldenrod;
}
.main-content .btn{
    padding: 15px 28px;
    border: 2px solid black;
    background-color: goldenrod;
    /* border: none; */
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    /* text-align: center; */
    font-size: 15px;
    
    clip-path: polygon(0% 0%, 80% 0, 100% 100%, 100% 100%, 0% 100%);
    
}

.main-content .btn:hover{
    transition: 0.5s;
    background-color: transparent;
    border: 2px solid goldenrod;
    color: white;
}
.image-right{
    position: relative;
    margin-right: 12%;
    width: 70%;
    /* top: 40%; */
    

}
.image-right img{
    position: relative;
    height: 400px;
    width: 100%;
    top: 14%;
}
.image-right img:hover{
    transform: translateX(-10px);
    transition: 0.5s;
}
.square{
    position: absolute;
    width: 70%;
    height: 300px;
    /* background-image:var(--gray-gradient); */
    box-shadow:0 4px 4px  rgb(14 55 54 / 15%);
    margin-left: 43%;
    top: 25%;
}
.cube{
    width: 30px;
    height: 30px;
    position: absolute;
    background: goldenrod;
    margin-left: 90%;
    top: 60%;
    transform: rotateY(36eg) rotateY(-135deg);
}
.cube::before{
    content: '';
    width: 30px;
    position: absolute;
    height: 20px;
    display: inline-block;
    background: goldenrod;
    top: -20px;
    left: 8px;
    transform: skewX(-40deg);
}
.cube::after{
    content: '';
    width: 16px;
    position: absolute;
    height: 30px;
    display: inline-block;
    background: goldenrod;
    top: -10px;
    left: 100%;
    transform: skewY(-50deg);
}
.zone{
    background: #16011f;
    height: 150px;
    width: 100%;
    display: flex;
    padding: 25px 0;
    justify-content: center;

}
.zone-content{
    /* padding: 20px 0; */
    display: flex;
    height: 50px;
    width: 20%;
}
.zone-content i{
    font-size: 40px;
    color: goldenrod;
    
}
.zone-content span{
    font-size: 35px;
    color: goldenrod;
}


.about{
    /* border: 3px solid red; */
    height: 450px;
    display:flex;
    padding: 4% 12%;
    width: 100%;
    background:#01072b;
}
.about-content{
    width: 100%;
}
.about-text p{
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: justify;
    line-height: 1.4;
    
}
.about-section{
    /* border: 3px solid white; */
    width: 100%;
   
   
    
   
}
.about-section  h2{
    font-size: 30px;
    font-weight: 600;
    padding:20px 0;
    /* text-align:center; */
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 500;
   

}

.about-section p{
    text-align: justify;
    color: white;
    /* width: 100%; */
    
    font-size: 20px;
}
.about-img{
    width: 90%;
    /* transform: rotate(90deg); */
    /* padding-top: 2%; */
    padding-left:10%;
}
.about-img img{
    height: 350px; 
    
    width: 80%;
}
.section{
    /* position: relative; */
    background: var(--gray-gradient),url("./img/565555.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;
}
.cards{
    /* border: 3px solid yellow; */
    /* height: 400px; */
    text-transform: uppercase;
    color: goldenrod;
    /* text-align:flex-start; */
    padding-left:15%;
    padding-top: 10px;
    font-size: 25px;
    
}
.cards h5{
    padding: 20px 0;
}
.games-cards{
    /* border: 3px solid green; */
    /* height: 500px; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    
    /* padding: 2% 0; */
    /* padding-right: 10%; */
    width: 80%;
    /* height: 5px; */
}
.games-cards img{
    
   
    
    height: 150px;
    border-radius: 5px;
    width: 100%;
    margin-left: 10px;
    transition: 0.5s;
}
.games-cards img:hover{
    transform: translateY(-10px);
    
}
.gaming-section{
    /* border: 3px solid blue; */
    /* height: 500px; */
}
.categories{
    padding: 2% 0;
    padding: right 4%;
    /* position: absolute; */
}
.categories h5{
    padding:40px 0;
}
.gaming{
    /* display:flex; */
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: repeat(5, 1fr);
    /* height: 50px; */
    /* padding-right: 25%; */
    /* padding-top:10%; */
}
.gaming img{
    height: 150px;
    /* padding-left:15%; */
    border-radius: 5px;
    width: 100%;
    margin-left:10px;
    transition:0.5s;
    
}
.gaming img:hover{
    transform: translateY(-10px);


}

.games-images{
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: repeat(5, 1fr);
    /* height: 50px; */
    /* width: 20%; */
    margin-left:10%;
    /* display: flex; */
}
.games-images img{
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    transition:0.5s;
}
.games-images img:hover{
    transform: translateY(-10px);

}

.sections{
    display: none;
    /* position: relative; */
    background: var(--gray-gradient),url("./img/565555.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}
.card{
    /* border: 3px solid yellow; */
    /* height: 400px; */
    text-transform: uppercase;
    color: goldenrod;
    /* text-align:flex-start; */
    padding-left:15%;
    padding-top: 10px;
    font-size: 25px;
    
}
.card h5{
    padding: 20px 0;
}
.games-card{
    /* border: 3px solid green; */
    /* height: 500px; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    
    /* padding: 2% 0; */
    /* padding-right: 10%; */
    width: 80%;
    /* height: 5px; */
}
.games-card img{
    
   
    
    height: 150px;
    border-radius: 5px;
    width: 100%;
    margin-left: 10px;
    transition: 0.5s;
}
.games-card img:hover{
    transform: translateY(-10px);
    
}
.gaming-section{
    /* border: 3px solid blue; */
    /* height: 500px; */
}
.categorie{
    padding: 2% 0;
    padding: right 4%;
    /* position: absolute; */
}
.categorie h5{
    padding:40px 0;
}
.gamings{
    /* display:flex; */
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: repeat(5, 1fr);
    /* height: 50px; */
    /* padding-right: 25%; */
    /* padding-top:10%; */
}
.gamings img{
    height: 150px;
    /* padding-left:15%; */
    border-radius: 5px;
    width: 100%;
    margin-left:10px;
    transition:0.5s;
    
}
.gamings img:hover{
    transform: translateY(-10px);


}

.games-image{
    display: grid;
    grid-gap: 10px;
    width: 60%;
    grid-template-columns: repeat(5, 1fr);
    /* height: 50px; */
    /* width: 20%; */
    /* margin-left:10%; */
    /* display: flex; */
}
.games-image img{
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    transition:0.5s;
}
.games-image img:hover{
    transform: translateY(-10px);

}
.tournament{
    display: flex;
    padding: 0 15%;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    background: url("./img/blue-flaming-fire-background-toj7ntsno7pa9e3a.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    height: 300px;
    width: 100%;

}
.tournament-section{
    margin: 0 30px;
}
.tournament-section h5{
    display: flex;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    /* padding: 10% 50px; */
}
.tournament1 img{
    margin-left: 10px;
    width: 100%;
    height: 200px;
}
.tournament1 img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.tournament1 h4{
    font-size: 20px;
    color: goldenrod;
}
.tournament1 p{
    color: goldenrod;
}
.tournament h6{
    font-size: 30px;
    color: goldenrod;
}
.contact-section{
    padding: 4% 12%;
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #01072b;

}
.contact-content{
    width: 100%;
    padding-top: 10px;
}
.contact-content img{
    height: 350px;
    
    width: 80%;
    border-radius: 10px;
}
.contact-right form{
    width: 100%;
    /* height: 40px; */
    /* padding: 30px 0; */
}

form input, form textarea{
    width: 100%;
    /* height: 40px; */
    padding: 20px 0;
    border-radius: 10px;
    padding-right: 70px;
    font-family: 700;
    font-size: 15px;
    /* border: 3px solid goldenrod; */
    margin: 10px 0;
    color: black;
    outline: none;
    /* background-color: transparent; */
}
.btn{
    padding: 10px 20px;
    border: 2px solid black;
    background-color: goldenrod;
    border-radius: 5px;
    color: #000;
    border: none;
    font-weight: 600;
}
.btn:hover{
    color: white;
    border: 2px solid goldenrod;
    background: transparent;
    /* transition: 0.5s; */
}
.footer-text{
    padding: 4% 12%;
    height: 250px;
    width: 100%;
    display: flex;
    background-color:rgb(54, 4, 54);
}
.footer-content{
    display: flex;
    height: 70px;
    width: 23%;
    background-color: goldenrod;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 80% 100%, 0 100%);
    /* clip-path: polygon(0% 0%, 80% 0, 100% 100%, 100% 100%, 0% 100%); */
    /* margin-left: 20px; */
}
.footer-content i{
    color: black;
    font-size: 30px;
}
.footer-content span{
    color: black;
    font-size: 30px;
    font-weight: 600;
    /* width: 30%; */
}
.links{
    /* color: goldenrod; */
    /* font-size: 20px; */
    /* padding-bottom: 10px; */
    margin: 0 70px;
}
.links h5{
    color: goldenrod;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;

}
.links-content li{
    list-style: none;
    font-size: 15px;
    color: white;
    line-height: 1.7;

}
.links-content li a{
    text-decoration: none;
    color: white;
}
.links-content li a:hover{
    color: goldenrod;
    text-decoration: underline;
    transition: 0.5s;
}
.action{
    /* font-size: 20px; */
    margin: 0 70px;
}
.action h5{
    color: goldenrod;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.action-content li{
    color: white;
    font-size: 15px;
    list-style: none;
    line-height: 1.7;
    
}
.action-content li:hover{
    color: goldenrod;
    text-decoration: underline;
}
.getintouch{
    /* font-size: 20px; */
    margin: 0 10px;
}
.getintouch h5{
    font-size: 15px;
    padding-left: 10px;
    color: goldenrod;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.icons {
    line-height: 1.7;
}
.icons i{
    color: goldenrod;
    margin: 0 10px;
    
    /* margin-bottom: 10px; */
}
.icons span{
    color: white;
}
.developer {
  height: 200px;
  width: 100%;
  background-color: #16011f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer-section{
    margin-left: 60px;
}
.developer-section ul {
    display: flex;
    padding-bottom: 10px;
    list-style: none;
    

}
.developer-section ul li{
    text-decoration: none;
    margin-left: 15px;
}
.developer-section i{
    border: 2px solid white;
    border-radius: 100%;
    padding: 6px 7px;
    color: goldenrod;
    
}
.btn-dev{
    padding: 10px 10px;
    background-color: transparent;
    color: goldenrod;
    font-weight: 600;
    margin: 10px 0;
    /* margin-left: 5px; */

}
.btn-dev a{
    color: goldenrod;
    text-decoration: none;
}
.btn-dev:hover{
    background: white;
    color: goldenrod;
    transition: 0.5s;
}
.copy{
    color: white;
    font-weight: 500;
}